<p> Một dự án nho nhỏ </p>
<button type="button" class="btn"> <%= link_to "New user", new_user_path %> </button>
<div class="container">
  <table class="table">
    <%= render partial: "user", collection: @users %>
  </table>
</div>
<% if !@errors.blank? %>
  <%= @errors %>
<% end %>
