<%= form_with(model: @book, :url => update_return_book_url, method: :put) do |f| %>
  
  <div class="mb-3">
    <%= f.label :shelf, { class: "form-label"} %>
    <%= select_tag :shelf_id,
            options_from_collection_for_select(@shelves, :id, :place),
            class: "form-control custom-select" %>
    
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<%end%>